{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <section class="container-section">
    {{ error }}
        <form method="post">
            {% csrf_token %} <!--para la protección csrf que hace django-->
            <input type="text" id="username" name="username" placeholder="Nombre de Usuario">
            <input type="password" id="pwd" name="pwd" placeholder="Password">
            <button sype="submit">Login</button>
        </form>
    </section>
{% endblock %}