.container{
    width:100%;

    @include if-is-desktop{
        max-width: $max-width-desktop;
    }
}

.container-section{
    padding-top: $distance-header;

    @include if-is-tablet{
        padding-top: $distance-header-tablet;
    }

    @include if-is-desktop{
        max-width: $max-width-desktop;
    }
}

.container-article{
    max-width:100%;
}
