header{
    position: fixed;
    width:100%;
    background-color: $color-blue;
    top: 0px;
    height:50px;
    // line-height:50px;
    @include if-is-tablet{
        height: $distance-header-tablet;
    }
    @include if-is-desktop{
        max-width: $max-width-desktop;
    };

    .header-title{
        padding: 20px 0 0 5px;
        color: $color-dark-green;
        font-family: $secondary-font-family;
        @include if-is-tablet{
            display:inline;
            float:left;
        }
    }
}


.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:$color-white;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;

    @include if-is-tablet{
        display:none;
    }
}
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:0px 15px 0px 15px;
    color:$color-white;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;

    @include if-is-tablet{
        display:none;
    }
}

.menu{
    z-index:1000000;
    font-weight:bold;
    color: $color-white;
    background:$color-blue;
    position:fixed;
    top: 50px;
    right: 0px;
    text-align:right;
    border-left:$color-blue 2px solid;
    display: none;

    @include if-is-tablet{
        position: absolute;
        top:50px;
        right:auto;
        left:0px;
        display: block;
        line-height: 30px;;
        width: 100%;
        font-size: $font-size-menu-tablet;
        .themes{
            float:left;
        }
        .identification{
            float:right;
        }
    }

    ul {
        list-style-type: none;
        list-style-image: none;
        font-family: $secondary-font-family;
        @include if-is-tablet{
            display: inline;
        }
    }
    ul li {
        display: block;
        padding:5px 10px 5px 10px;
        border-bottom:$color-blue 1px solid;
        @include if-is-tablet{
            display: inline;
        }
    }

    // ul li .themes, ul li .identification{
    //     @include if-is-tablet{
    //         display: inline;
    //     }
    // }
    // ul li .search{
    //     @include if-is-tablet{
    //         display: block;
    //
    // }

    ul li form {
        // @include if-is-tablet{
        //     display: table-cell;
        // }
    }
    ul a{
        // @include if-is-tablet{
        //     display: table-cell;
        // }
    }
    li:hover{
        // display: block;
        color:$color-green;
        background:$color-white;
        padding:5px 10px 5px 10px;
    }
    li.menu-inverse:hover{
        background: $color-blue;
    }
    // ul li a {
    //     text-decoration:none;
    //     margin: 0px;
    //     color:$color-white;
    // }
    // ul li a:hover {
    //     color: $color-white;
    //     text-decoration:none;
    // }

    a{
        text-decoration:none;
        color:$color-white;
    }
    a:hover{
        text-decoration:none;
        color:$color-white;
    }
}

.icon-search {
  @include sprite($icon-search);
}
