header{
    position: fixed;
    width:100%;
    background-color: $color-blue;
    top: 0px;
    height:50px;
    // line-height:50px;
    @include if-is-tablet{
        //height: $distance-header-tablet;
    }
    @include if-is-desktop{
        max-width: $max-width-desktop;
    };

    .header-title{
        padding: 20px 0 0 10px;
        color: $color-dark-green;
        font-family: $secondary-font-family;
        display: inline-block;
        float:left;
    }

    .search {
        display: none;

        @include if-is-tablet{
            display: inline-block;
            padding: 20px 10px 0 0;
            float: right;
        }

        @include if-is-desktop{
            display: inline-block;
            padding: 20px 10px 0 0;
            float: right;
        }

        button {
            background-color: $color-blue;
            border: none;
            padding: 0px 0px;
            text-decoration: none;
            display: inline-block;
        }
        input{
            height: 30px;
        }

        form>input.search-input{
            margin: 0 0 5px 0;
            max-width: 100px;
        }


    }
}


.hamburger{
    background:none;
    float: right;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:$color-white;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    @include if-is-tablet{
        display:none;
    }
}


.cross{
    background:none;
    float: right;
    padding:15px 15px 0px 15px;
    color:$color-white;
    border:0;
    font-size:3em;
    line-height:45px;
    font-weight:lighter;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    @include if-is-tablet{
        display:none;
    }
}

.menu{
    z-index:1000000;
    font-weight:bold;
    color: $color-white;
    background:$color-blue;
    position:fixed;
    top: 44px;
    right: 0px;
    text-align:right;
    border-left:$color-blue 2px solid;
    display: none;

    @include if-is-tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;;
        width: 100%;
        font-size: $font-size-menu-tablet;
        right:auto;
        .themes{
            text-align: left;
        }
        .identification{
            text-align: right;
        }
    }

    @include  if-is-desktop{
        max-width: $max-width-desktop;
        right:auto;
    }

    ul {
        list-style-type: none;
        list-style-image: none;
        font-family: $secondary-font-family;
        @include if-is-tablet{
            display: inline;
            margin: 0px;
        }
    }
    ul li {
        display: block;
        padding:5px 10px 5px 10px;
        border-bottom:$color-blue 1px solid;
        @include if-is-tablet{
            display: inline;
            padding:5px 10px 0 10px;
        }
    }

    // ul li .themes, ul li .identification{
    //     @include if-is-tablet{
    //         display: inline;
    //     }
    // }
    // ul li .search{
    //     @include if-is-tablet{
    //         display: block;
    //
    // }

    ul li form {
        // @include if-is-tablet{
        //     display: table-cell;
        // }
    }
    ul a{
        // @include if-is-tablet{
        //     display: table-cell;
        // }
    }
    li:hover{
        // display: block;
        color:$color-green;
        background:$color-white;
        padding:5px 10px 5px 10px;
    }
    li.menu-inverse:hover{
        background: $color-blue;
    }
    a{
        text-decoration:none;
        color:$color-white;
    }
    a:hover{
        text-decoration:none;
        color:$color-white;
    }
}

.icon-search {
  @include sprite($icon-search);
}
